# Servidor web
Flask==2.3.2
Flask-Cors==3.0.10
gunicorn==21.2.0

# Requisições HTTP
requests==2.31.0

# Google APIs
google-api-python-client==2.97.0
google-auth==2.23.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.1.0

# GeoIP
geoip2==5.2.0
